
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.background-color{
    background-color: #f5f8ff;
}

/* navbar related styles */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul{
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}

i{
    position: absolute;
    margin-left: 277px;
}

.navbar-ul li{
    list-style: none;
}


.nav-items{
    color: rgb(137, 135, 161);
    font-size: 1rem;
    font-weight: 400;
}

.nav-items-home{
  color: rgb(37, 36, 50);
  font-size: 1rem;
  font-weight: 700;
}

.cart-text{
  color: rgb(0, 0, 0);
  font-size:1rem;
  font-weight: 400;
  display: inline;
}

/* banner related styles */

.banner{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.banner-left{
    display: flex;
    align-items: end;
    max-width: 46%;
}

.black-text{
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-weight: 700;
}

.orange-text{
    color: rgb(233, 90, 8);
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
}

/* Our plants section related styles */

.plants-collection{
    margin-top: 100px;
}

.our-plants{
    text-align: center;
}

.our-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.plants-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(233, 90, 8);
}

 .card-container{
    /* margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
} 

 .cards{
    width: calc(25% - 20px);
 }

 .cards img {
  width: 100%;
  border-radius: 8px;
}


.card-text{
     text-align: center; 
}

 .flower-name{
  color: rgb(17, 17, 17);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.price{
color: rgb(17, 17, 17);
font-size: 1.2rem;
font-weight: 700;
margin-bottom: 5px;
}

.cart-btn{
   width: 100%;
   height: 40px;
   background-color: rgb(233, 90, 8) ;  
   border: none;
   color: rgb(255, 255, 255);
   font-size: 1rem;
   font-weight: 600;
   padding:8px 12px ;
   cursor: pointer;
}

/* plant lover section */

   .plant-lover{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
   }

   .plant-lover-right-side{
        position: relative;
         max-width: 50%;
   }

   #trusted-badge{
    background: transparent;
    width: 286px;
    height: 286px;
    position: absolute;
    margin-left: -185px;
    margin-top: -100px;
   }

   .plant-lover-ul{
    display: flex;
    flex-direction: column;
   }

   .plant-lover-title{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
   }

   .plant-lover-ul li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
   }

   .plant-lover-left-side{
    display: flex;
    align-items: center;
   }

   /* Latest deals section styles */

   .latest-deals{
    margin-top: 100px;
   }

   .deals{
    text-align: center;
   }

   .latest-text{
    color: rgb(233, 90, 8) ;  ;
    font-size: 3rem;
    font-weight: 700;
   }

   .deals-text{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
   }

   .deal-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
   }

   /* Design card Styles */

   .design-cards{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
   }

   .left-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
   }

   .right-column{
    flex: 2;
   }

   .design-card{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .design-card2{
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
   }

   .overlay-text{
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
   
   }

   .overlay-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay-text a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

/* Join Us section Styles */

.join-us{
    margin-top: 100px;
    background-image: url(assets/news-letter-bg.png);
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   justify-content: center;
   align-items: center;
}

.join-us-content{
   position: relative;
}

.join-us-content h1{
   color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: end;
}

.join-us-content input{
    width: 644px;
    height: 50px;
    padding: 15px;
   
}

.join-us-content button{
  width: 186px;
  height: 49px;
  color: #ffffff;
  background: rgb(233, 90, 8);
  border: none;
  position: absolute;
  margin-left: -2px;
}

/* Footer Styles */

.site-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.footer-text{
color: rgba(0, 0, 0, 0.5);
font-size: 1.2rem;
font-weight: 400;
margin-top: 10px;
}

.footer-img img{
    margin-left: 20px;
}





   
   































@media screen  and (max-width: 576px) {
    
    /* navbar section */
    .nav-items {
      display: none;
    }

    ul{
        position: relative;
    }

    i{
        position: absolute;
        margin-left: -25px;
    }

    /* Banner section */

    .banner{
        flex-direction: column-reverse;
       
    }

    .black-text{
    font-size: 2rem;
    font-weight: 700;
    } 
    
    .orange-text{
      font-size: 2rem;
      font-weight: 700;
    } 

    .banner-left{
        max-width: 100%;
        text-align: left;
        margin-left: 10px;
        margin-top: 20px;
    } 

    .banner-description{
        width: 100%;
        font-size: 1rem;
    }

    .banner-right img{
         max-width: 100%;
         text-align: right;
    }

    /* Cards section */

      .our-plants{
        text-align: center;
    }

    .cards {
    width: calc(50% - 20px); 
  } 

     /* .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }  */

   
    /* plant-lover section */

    .plant-lover{
        flex-direction: column;
    }

    #trusted-badge{
        display: none;
    }

    .plant-lover-right-side img{
        margin: 10px;
    }

    .plant-lover-left-side{
        flex-direction: column;
        margin-left: 25px;
        
    }

    .plant-lover-title{
        font-size: 2rem;
        font-weight: 700;
    }

    .plant-lover-ul li{
        font-size: 1rem;
        font-weight: 400;
    }

    .deals{
        margin-left: 50px;
    }

    /* Design cards */

    .design-cards{
        flex-direction: column;
        margin-left: 50px;
    }

    .right-column{
        flex: 1;
    }

    .design-card2{
        height: 150px;
    } 

  } 